
<h3>Orders for {{ orderEmail }}</h3>

<div *ngIf="pendingOrders.length !==0; else noOrders">
    <table>
        <tr class="border" *ngFor="let o of pendingOrders; let i = index">
            <p>Date: {{ o.date }}</p>
            <p>Order Id: {{ o.orderId }}
               <span><button type="button" (click)="changeOrderStatus(i)" >Delivered</button></span> 
            </p>
            <p>{{ o.total | currency }}</p>
        </tr>
    </table>
</div>
<div>
    <button [routerLink]="['/']">Back to Ordering</button>
</div>
<ng-template #noOrders>
    <div>
        <h3>You have no pending orders!!</h3>
    </div>
</ng-template>